[Desktop Entry]
Name=Cwtch messenger
Exec=cwtch-tsugu
Icon=${SNAP}/meta/gui/cwtch-tsugu.png
Comment=Secure messenger
Terminal=false
Type=Application
MimeType=x-content/unix-software;
